/* 
    Document   : user
    Created on : Jul 10, 2012, 3:14:13 PM
    Author     : paysure
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{font-size:72.5%;font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;background-color:#AAAAAA;color:#333;text-align:center;}
#pagebar{width:100%;height:60px;padding:0;margin:0;}
#pagebar li{position:relative;float:left;display:block;list-style:none;}
#pagebar a{font-family:"Trebuchet MS", Verdana, Arial, Sans-Serif;color:#333;font-size:1.4em;display:block;float:left;padding:18px 15px 10px 15px;border-right:1px #CECECE solid;text-align:center;height:30px;}

#pagebar ul{display:none;position:absolute;top:36px;left:0;margin:-1px 0 0;padding:0;float:left;z-index:99999;border-top:1px solid #000;}
#pagebar ul ul{top:0;left:100%;}
#pagebar .children li, #pagebar .sub-menu li{margin:0;padding:0;min-width:100px;border-left:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;}
#pagebar .children ul.children, #pagebar .sub-menu ul.sub-menu{border-top:0;}
#pagebar ul a{text-align:left;background-color:#f1f1f1;width:100px;height:auto;padding:8px 15px;}
#pagebar li:hover > ul{display:block;}
#pagebar li.current_page_item > a,
#pagebar li.current_page_parent > a,
#pagebar li.current_page_ancestor > a,
#pagebar li.current-cat > a,
#pagebar li.current-menu-ancestor > a,
#pagebar li.current-menu-item > a,
#pagebar li.current-menu-parent a{color:#000;text-decoration:none;}
#pagebar li a:hover,
#pagebar li:hover > a{background-color:#cecece;color:#000;text-decoration:none;}
#grad{background:url(images/blue_flower/topgrad.jpg);clear:both;height:65px;width:100%;}
.entry{font-size:1.2em;font-family:Verdana;overflow:hidden;}
#page{background-color:white;border:1px solid #959596;text-align:left;width:100%;}
#header{background-color:snow;}
#header{padding:0;margin:5px auto 0;height:100px;width:100%;vertical-align: central;background: transparent;}
/*#headerimg{margin:0;height:100px;width:100%;background-image:url(images/blue_flower/head.jpg);}*/

a, h2 a:hover, h3 a:hover{color:#06c;text-decoration:none;}
a:hover{color:#147;text-decoration:underline;}
/*body{margin:0;padding:0;}*/
body{margin: 0 auto; background-color: red;}
#page{background-color:white;margin:0 auto;padding:1px;width:100%;border:0;}





form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
    margin-right: 25px;

}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
    margin-right: 50px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

#ui-datepicker-div{ font-size: 80%; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }



.paygateform{
    background-color: #FFFFFF;
    width:50%;
    margin:auto;
    padding:10px;
    border:1px solid #8f8f8f;
    padding-top: 50px;
    border-radius: 15px;





}

#messagePanel{
    background-color: #FFFFFF;
    width:40%;
    margin:auto;
    padding:10px;
    /*border:1px solid #8f8f8f;*/
    color:#ff0000;
    margin-bottom: 10px;
    text-align: left;

}



.paygateinput{
    background-color: #FFFFFF;
    padding:3px;
    border:1px solid #8f8f8f;
    color:#000000;
    margin: 10px;
    background-color: #73a0c5;

}

input[type=text], input[type=password]{
    padding:3px;
    border:1px solid #8f8f8f;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    color:#000000;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type=submit]{
    padding:1px;
    border:1px solid #8f8f8f;
    border-radius: 5px;
    /*height: 48px;*/
    /*width: 100px;*/
    color:#fff;
    /*font-size: 30px;*/
    /*margin-bottom: 5px;*/
    margin-bottom: 5px;
    /*padding-bottom: 10px;*/
    background-color: #73a0c5;
    margin-left: 6px;

}

.button{
    background-color: #00a4ff;
    padding:8px;
    border:1px solid #8f8f8f;
    color:#000000;
    margin-bottom: 10px;


}
.viewbutton{
    background-color: #00a4ff;

    border:1px solid #8f8f8f;
    color:#000000;
    margin-bottom: 10px;


}
table{
    width:100%;
}

.oddrow{
    background-color: #fff;
    text-align: left;
}

.evenrow{
    background-color: #eee;
    text-align: left;

}

.name{
    padding: 10px;
    text-align: center;

}
#sitename{
    margin-top: 0px;
    margin-left: 300px;
    color:#000000;

    padding:50px;
    font-size: 25px;
    top: 50px;
}

.label{font-size: 16px; float: left; padding-top: 15px; margin-left: 50px; font-weight: bold;}
h1{margin-left: 300px; text-align: left;}
#image{	margin:0 17px 0 0;}
#line{float: left; width: 1200px;padding-top: 80px;margin-left: 0; position: absolute;}
.label2{font-size: 18px; margin-top: 21px; float: right; }

#menu{
    
    /*border: 2px solid red;*/
    margin-left: 180px;
   /* margin-auto: 0;*/
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 1.1em
    
    
}